.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.input-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #333;
  border-color: darkgreen;
  background-color: rgb(224, 255, 243);
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #aaa;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: rgb(172, 202, 172);
  color: green;
  padding: 10px 15px;
  border: 2px solid #aaa;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
}

.input-form input:hover,
.input-form select:hover {
  border-color: green;
}

#message {
  text-align: center;
}