{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='input_form.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="input-form" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
  </div>

    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
{% endblock %}