{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='input_form.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
      <form class="input-form" action="/register" method="POST">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="email" name="email" placeholder="Email">
          <select name="user_type">
            <option value="" disabled selected hidden>Select user type</option>
            <option value="recruiter">Recruiter</option>
            <option value="applicant">Applicant</option>
          </select>
          <button type="submit">Register</button>
      </form>
    </div>
    
    {% if message %}
      <h2 id="message">{{ message }}</h2>
    {% endif %}
{% endblock %}

