{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
      <form class="registration-form" action="/register" method="POST">
          <input type="text" name="username" placeholder="username">
          <input type="password" name="password" placeholder="password">
          <button type="submit">Register</button>
      </form>
    </div>
    
    {% if message %}
      <h2 id="message">{{ message }}</h2>
    {% endif %}
{% endblock %}

